@import "_variables"
@import "_partial/header"
@import "_partial/footer"
@import "_partial/3-card-grid"
@import "_partial/hero"
@import "_partial/2-col"


html,
body
	height 100%

a:hover
	text-decoration: none

body
	display flex
	flex-direction column
	background #FFF
	color #333

.link__text
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
	font-weight: 400

a svg {
  display: inline-block;
   vertical-align: top;
}
/* ============================================
  					Sticky Footer
 ============================================== */

 .content 
	flex 1 0 auto


.footer 
	flex-shrink 0


/* ============================================
  					Bullets
 ============================================== */

ul.icon 
	list-style-type none
	padding-left .4em

ul.icon.pressrelease
	font-size 1rem
	color #fff
	padding-left 0
	a
		line-height 2.4rem
		color papyrus


.bullet:before 
	display inline-block
	font-style normal
	font-variant normal
	text-rendering auto
	-webkit-font-smoothing antialiased
	font-family "Font Awesome 5 Free"
	font-weight 900
	content "\f14a"
	padding-right .5em
	color papyrus


/* ============================================
  					Product
 ============================================== */
.product 
	background #fff


/* ============================================
  					Card
 ============================================== */
.benefits
	background papyrus

.card
	position relative
	margin-bottom 20px

.card-body
	padding 1rem .7rem !important

@media only screen and (max-width: 768px) {
    .doublecard {
        flex-wrap: wrap;
    }
}

.card__label
	font-size 1em
	line-height 1.5rem
	color bio-grey
	.premium 
		font-family Arial, Helvetica, sans-serif

.card__height
	min-height 250px

.card__premium
	position absolute
	right 10px
	top 1.2rem
	z-index 1
	font-size .8em
	color bio-grey

.card__premium-text
	font-family Arial, Helvetica, sans-serif

/* ============================================
  					Bootstrap Override
 ============================================== */
.btn.btn-primary {
  color: #fff;
  background-color: papyrus;
  border-color: papyrus;
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: #fff;
  background-color: papyrus;
  border-color: papyrus;
  outline: none;
  box-shadow: none;
}
.btn.btn-primary:hover {
  color: #fff;
  background-color: darken(papyrus, 10%);
  border-color: papyrus;
  outline: none;
  box-shadow: none;
}
.btn.btn-primary.active,
.btn.btn-primary:active {
  color: #fff;
  background-color: papyrus;
  border-color: papyrus;
  outline: none;
}
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: #fff;
  background-color: papyrus;
  border-color: papyrus;
  outline: none;
  box-shadow: none;
}