<div class="container">
    <div class="row">
        <div class="col">
            <a href="/">
                <svg class='svg__backbutton' xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 492 492" width='14px'
                    height="14px">
                    <path fill="#81881B" d="M199 246L383 62a27 27 0 0 0 0-38L367 8c-6-5-12-8-19-8s-14 3-20 8L109 227a27 27 0 0 0 0 38l219 219a27 27 0 0 0 38 0l16-16c11-10 11-28 0-38L199 246z" />
                </svg>
                <p class="lead d-inline link__text text-muted">Back</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <img class="img-fluid w-100 h-100" src="<%- page.image %>">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-subtitle mb-4 text-muted text-uppercase">
                        <%- page.label %>
                    </h5>
                    <h4 class="card-title">
                        <%- page.title %>
                    </h4>
                    <p class="card-text">
                        <%- page.content %>
                    </p>
                    <a href="https://res.cloudinary.com/binc/image/upload/v1538070559/product/pk-papyrus/PK_Papyrus_Digital_V3.pdf"
                        class="btn btn-primary btn-sm" download>DOWNLOAD
                        BROCHURE</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="references">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class='icon'>
                    <li>1. Compared to Graftmaster 2.8 /16 (BIOTRONIK data on file)</li>
                    <li>2. Compared to Jostent Graftmaster 3.0/16 (BIOTRONIK data on file)</li>
                    <li>3. Hernandez-Enriquez M, et al. Outcomes after use of covered stents to treat coronary artery
                        perforations. Comparison of old and new-generation covered stents. J Interv Cardiol . 2018; 1-7</li>
                    <li>4. Compared to Graftmaster based on the broader range of sizes available on the US market</li>
                </ul>
            </div>
        </div>
    </div>
</section>