<section class="hero">
    <div class="container-fluid">
        <div class="jumbotron hero__jumbotron--background">
            <div class="container">
                <div class="row hero__top">
                    <div class="col-md-8 d-flex flex-column justify-content-center">
                        <h1 class=" font-weight-bold hero__title">TIME TO EXPAND YOUR OPTIONS
                        </h1>
                        <p class="h4 hero__text">PK Papyrus Covered Coronary Stent System</p>
                        <p class="h2 text-uppercase my-4 hero__text--callout">Now FDA Approved!</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid hero__bottom">
                <div class="container">
                    <div class="row  p-4">
                        <div class="col-md-6">
                            <script src="https://fast.wistia.com/embed/medias/om0egfd9g8.jsonp" async></script>
                            <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                                <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_om0egfd9g8 seo=false videoFoam=true" style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img
                                                src="https://fast.wistia.com/embed/medias/om0egfd9g8/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" onload="this.parentNode.style.opacity=1;" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-3">
                            <h5>PRODUCT INFORMATION</h5>
                            <p>
                                PK Papyrus covered coronary stent system is indicated for the treatment of acute
                                coronary
                                artery
                                perforations. When seconds count, PK Papyrus is designed to deliver more like a
                                conventional
                                stent.<sup>1,2</sup>
                            </p>
                            <ul class="icon">
                                <li class="bullet">Lowest crossing profile<sup>1</sup></li>
                                <li class="bullet">Superior flexibility<sup>2</sup></li>
                                <li class="bullet">5 French and 6 French compatible<sup>3</sup></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-8">
                <%- partial('_partial/p-brochure') %>
                <%- partial('_partial/p-newsroom') %>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm main__card">
                    <div class="card-body text-center">
                        <script src="//app-sj11.marketo.com/js/forms2/js/forms2.min.js"></script>
                        <form id="mktoForm_1519"></form>
                        <script>
                            MktoForms2.loadForm("//app-sj11.marketo.com", "947-QLI-617", 1519);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>