<section class="hero">
    <div class="overlay">
        <div class="jumbotron hero__jumbotron--background">
            <div class="container">
                <h1 class=" font-weight-bold hero__title">TIME TO EXPAND YOUR OPTIONS
                </h1>
                <p class="h4 hero__text">PK Papyrus Covered Coronary Stent System is indicated for treatment of
                    acute
                    coronary artery perforations</p>
                <p class="h2 text-uppercase my-4 hero__text--callout">Now FDA Approved!</p>

            </div>
        </div>
    </div>
</section>