<section class="hero">
    <div class="overlay">
        <div class="jumbotron hero__jumbotron--background">
            <div class="container">
                <h1 class=" font-weight-bold hero__title">TIME TO EXPAND YOUR OPTIONS
                </h1>
                <p class="h4 hero__text">PK Papyrus Covered Coronary Stent System is indicated for treatment of
                    acute
                    coronary artery perforations</p>
                <p class="h2 text-uppercase my-4 hero__text--callout">Now FDA Approved!</p>
                <div class="row mt-5">
                    <div class="col text-center">
                        <p>
                            <a class="btn btn-primary btn-lg" href="/physician" role="button">PHYSICIAN</a>
                        </p>
                    </div>
                    <div class="col text-center">
                        <p>
                            <a class="btn btn-primary btn-lg" href="/cathlab" role="button">CATHLAB</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>