<section class="hero">
    <div class="container-fluid">
        <div class="jumbotron hero__jumbotron--background">
            <div class="container">
                <div class="row hero__top">
                    <div class="col-md-8 d-flex flex-column justify-content-center">
                        <h1 class=" font-weight-bold hero__title">TIME TO EXPAND YOUR OPTIONS
                        </h1>
                        <p class="h4 hero__text">PK Papyrus Covered Coronary Stent System</p>
                        <p class="h2 text-uppercase my-4 hero__text--callout">Now FDA Approved!</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid hero__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 py-3">
                            <script src="https://fast.wistia.com/embed/medias/om0egfd9g8.jsonp" async></script>
                            <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                                <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_om0egfd9g8 seo=false videoFoam=true" style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img
                                                src="https://fast.wistia.com/embed/medias/om0egfd9g8/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" onload="this.parentNode.style.opacity=1;" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-3">
                            <h5>PRODUCT INFORMATION</h5>
                            <p>
                                PK Papyrus covered coronary stent system is indicated for the treatment of acute
                                perforations of native coronary arteries and coronary bypass grafts in vessels 2.5 to
                                5.0 mm in diameter.<sup>1</sup> When seconds count, PK Papyrus is designed to deliver
                                more like a
                                conventional
                                stent.<sup>2,3</sup>
                            </p>
                            <ul class="icon">
                                <li><svg class='svg__list' xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 459 459"
                                        width="12px" height="12px">
                                        <path fill="#81881B" d="M408 0H51C23 0 0 23 0 51v357c0 28 23 51 51 51h357c28 0 51-23 51-51V51c0-28-23-51-51-51zM179 357L51 230l36-36 92 92L372 92l36 36-229 229z" />
                                    </svg> Lowest crossing profile<sup>2</sup></li>
                                <li><svg class='svg__list' xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 459 459"
                                        width="12px" height="12px">
                                        <path fill="#81881B" d="M408 0H51C23 0 0 23 0 51v357c0 28 23 51 51 51h357c28 0 51-23 51-51V51c0-28-23-51-51-51zM179 357L51 230l36-36 92 92L372 92l36 36-229 229z" />
                                    </svg> Superior flexibility<sup>3</sup></li>
                                <li><svg class='svg__list' xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 459 459"
                                        width="12px" height="12px">
                                        <path fill="#81881B" d="M408 0H51C23 0 0 23 0 51v357c0 28 23 51 51 51h357c28 0 51-23 51-51V51c0-28-23-51-51-51zM179 357L51 230l36-36 92 92L372 92l36 36-229 229z" />
                                    </svg> 5 French and 6 French compatible<sup>*</sup></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-8">
                <%- partial('_partial/p-brochure') %>
                <%- partial('_partial/p-newsroom') %>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm main__card">
                    <div class="card-body text-center">
                        <p class="font-weight-bold">Connect with Us To Learn More</p>
                        <script src="//app-sj11.marketo.com/js/forms2/js/forms2.min.js"></script>
                        <form id="mktoForm_1519"></form>
                        <script>
                            MktoForms2.loadForm("//app-sj11.marketo.com", "947-QLI-617", 1519);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="references">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class='icon references'>
                    <li>1. PK Papyrus IFU 436237/A/2018-09</li>
                    <li>2. Compared to Graftmaster 2.8/16 (BIOTRONIK data on file)</li>
                    <li>3. Compared to Jostent Graftmaster 3.0/16 (BIOTRONIK data on file)</li>
                    <li>4. Broader range of sizes available on the US market compared to Graftmaster</li>
                    <li>5. FDA Press Release, Sept 14, 2018. <a href="https://www.fda.gov/NewsEvents/Newsroom/PressAnnouncements/ucm620603.htm">Link</a></li>
                    <li>* 5F compatible for 2.5-4.0 mm; 6F compatible for 4.5-5.0 mm</li>
                    <li>Jostent and Graftmaster are registered trademarks of the Abbott Group of Companies</li>
                    <li>Information on devices manufactured at companies other than BIOTRONIK was gathered from
                        multiple sources. However, it has not been verified by the vendors and we cannot guarantee its
                        accuracy</li>
                </ul>
            </div>
        </div>
    </div>
</section>