<%- partial('_partial/head') %>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K66TWZD" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="content">
    <%- partial('_partial/header') %>

    <%- body %>
  </div>

  <div class="footer">
    <%- partial('_partial/footer') %>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>