<section class="hero">
    <div class="overlay">
        <div class="jumbotron hero__jumbotron--background">
            <div class="container">
                <h1 class=" font-weight-bold hero__title">TIME TO EXPAND YOUR OPTIONS
                </h1>
                <p class="h4 hero__text">PK Papyrus Covered Coronary Stent System is indicated for treatment of
                    acute
                    coronary artery perforations</p>
                <p class="h2 text-uppercase my-4 hero__text--callout">Now FDA Approved!</p>
                <p>
                    <a class="btn btn-primary btn-md" href="/physician/video" role="button">VIEW VIDEO</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md">
                <div class="card shadow-sm main__card">
                    <div class="card-body">
                        <h5 class="card-title main__title">Product Info/Chart</h5>
                        <p class="card-text">When seconds count, PK Papyrus is designed to deliver more like a
                            conventional stent.
                        </p>
                        <ul class="icon">
                            <li class="bullet">Lowest crossing profile</li>
                            <li class="bullet">Superior flexibility</li>
                            <li class="bullet">5 French and 6 French compatible</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card shadow-sm main__card">
                    <div class="card-body">
                        <script src="https://fast.wistia.com/embed/medias/wysn6spnd3.jsonp" async=""></script>
                        <script src="https://fast.wistia.com/assets/external/E-v1.js" async=""></script>
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_wysn6spnd3 seo=false videoFoam=true" style="height:100%;position:relative;width:100%">
                                    <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                        <img src="https://fast.wistia.com/embed/medias/wysn6spnd3/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                            alt="" onload="this.parentNode.style.opacity=1;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow-sm doublecard d-flex flex-row card__height">
                    <div>
                        <img class="img-fluid w-100" src="https://res.cloudinary.com/binc/image/upload/c_fit,f_auto,w_550/v1536272484/product/pk-papyrus/BIO10454_PK_Papyrus.jpg" />
                    </div>
                    <div class="card-body doublecard-item">
                        <h6 class="card__label text-uppercase">VIDEO</h6>
                        <h5 class="card-title">Dr. Lombardi on PK Papyrus</h5>
                        <p class="card-text">Why PK Papyrus is needed in the interventionalist's tool kit.
                        </p>
                        <a href="/physician/video" class="btn btn-primary btn-sm">VIEW VIDEO</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <%- partial('_partial/p-competitive-comparison') %>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <%- partial('_partial/p-checklist') %>
            </div>
            <div class="col-md">
                <%- partial('_partial/p-brochure') %>
            </div>
            <div class="col-md">
                <%- partial('_partial/p-irb') %>
            </div>
        </div>
    </div>
</section>