<div class="card shadow-sm card__height">
    <div class="card-body">
        <h6 class="card__label">
            <%= title %>
        </h6>
        <h5 class="card-title">PK Papyrus Brochure</h5>
        <p class="card-text">Product details and technical specifications
        </p>
        <a href="/physician/brochure" class="btn btn-primary btn-sm">VIEW BROCHURE</a>
    </div>
</div>