<footer class="footer footer__color">
  <div class="container">
    <div class="row text-center mb-4">
      <div class="col">Humanitarian Device. Authorized by Federal law for use in the treatment of acute perforations of
        native coronary arteries and coronary bypass grafts in vessels 2.5 to 5.0 mm in diameter. The effectiveness of
        this device for this use has not been demonstrated.</div>
    </div>
    <div class="row">
      <div class="col">
        <ul class='icon references'>
          <li>1. Compared to Graftmaster 2.8/16 (BIOTRONIK data on file)</li>
          <li>2. Compared to Jostent Graftmaster 3.0/16 (BIOTRONIK data on file)</li>
          <li>3. 5F compatible for 2.5-4.0 mm; 6F compatible for 4.5-5.0 mm</li>
          <li>4. Indication as per IFU</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-unstyled text-left">
          <li class="">BIOTRONIK, Inc.</li>
          <li class="">6024 Jean Road</li>
          <li class="">Lake Oswego, OR 97035</li>
          <li class="">www.biotronik.com</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled text-right">
          <li class="d-inline-block">Privacy Policy</li>
          <li class="d-inline-block">Terms of Use</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mt-4">
        &copy;2018 BIOTRONIK, Inc. All rights reserved.
      </div>
    </div>
  </div>
</footer>