<footer class="footer footer__color">
  <div class="container">
    <div class="row text-center mb-4">
      <div class="col text-left">
        <p class="footer__text">
          Humanitarian Device. Authorized by Federal law for use in the
          treatment of acute perforations of native coronary arteries and
          coronary bypass grafts in vessels 2.5 to 5.0 mm in diameter. The
          effectiveness of this device for this use has not been demonstrated.
        </p>
        <p class="footer__text">
          Caution: Federal (U.S.A.) law restricts this device to sale by or on
          the order of, a physician (or properly licensed practitioner).
        </p>
        <p class="footer__text">
          Indications: The PK Papyrus is indicated for the treatment of acute
          perforations of native coronary arteries and coronary bypass grafts in
          vessels 2.5 to 5.0 mm in diameter. Contraindications: Patients in whom
          antiplatelet agents or anticoagulation therapy is contraindicated;
          Patients with a known allergy or hypersensitivity to amorphous silicon
          carbide or any other compound of the system (siloxane-based
          polyurethane, L-605 cobalt chromium alloy including tungsten and
          nickel); Lesions that cannot be reached or treated with the system;
          Lesions with threatened or abrupt closure during attempted
          pre-dilation prior to stent implantation; Risk of treatment-related
          occlusion of vital coronary artery side branches; Uncorrected bleeding
          disorders; Allergy to contrast media.
        </p>
        <p class="footer__text">
          Warnings: DO NOT resterilize and/ or reuse. DO NOT use the stent
          system if the outer or the inner package is damaged or opened, or any
          information provided is obscured or damaged. DO NOT use device after
          the “Use by” date indicated on the label. DO NOT rotate the stent
          system if the tip is constrained. DO NOT expose the stent system to
          organic solvents e.g. alcohol. DO NOT apply vacuum prior to
          introduction of the stent system. Manipulate the stent system under
          angiographic guidance when it is in the body. Use only an appropriate
          balloon inflation medium (e.g. 50:50 mixture by volume of contrast
          medium and saline). NEVER use air or any gaseous medium to inflate the
          balloon. To reduce the potential for vessel damage, the inflated
          diameter of the balloon should not exceed the original diameter of the
          vessel proximal and distal to the lesion. Balloon pressure must not
          exceed the rated burst pressure (RBP). Use of a pressure-monitoring
          device is mandatory to prevent over-pressurization. Patients with
          renal insufficiency receiving a PK Papyrus Stent may be at an
          increased risk of worsening renal function or renal failure due to the
          need for an increased volume of contrast. Caution should be taken if a
          PK Papyrus Stent is inserted in thrombus-containing lesions, as this
          may increase the risk of complications, including myocardial
          infarction and death. Covered stents used to treat coronary ruptures
          can be associated with high rates of restenosis. Restenosis of a PK
          Papyrus Covered Coronary Stent may require revascularization of the
          arterial segment. The safety and effectiveness of re-dilation of a PK
          Papyrus Stent to treat restenosis have not been established.
        </p>
        <p class="footer__text">
          Potential Adverse Events Cardiac events: myocardial infarction or
          ischemia; abrupt closure of treated artery or side branch; restenosis
          of the treated artery; cardiogenic shock; angina; coronary dissection;
          perforation or other coronary or aortic injury; residual coronary
          perforation; cardiac perforation; pericardial effusion; pericardial
          tamponade; coronary aneurysm formation; need for emergency cardiac
          surgery. Arrhythmic events: ventricular tachycardia, ventricular
          fibrillation, atrial fibrillation, sinus bradycardia. Stent system
          events: failure to deliver the stent to the intended site, stent
          dislodgement from the delivery system, stent deformation, stent
          embolization, stent thrombosis or occlusion, stent fracture, stent
          migration, stent loss, mal-apposition of the stent to the arterial
          wall, delivery system balloon inflation or deflation difficulties,
          delivery system balloon rupture, delivery system withdrawal
          difficulties, embolization of catheter material. Respiratory events:
          acute pulmonary edema, congestive heart failure, respiratory
          insufficiency or failure. Vascular events: pseudoaneurysm;
          arteriovenous fistula; retroperitoneal hemorrhage or hematoma; vessel
          dissection, perforation, rupture or other injury; restenosis,
          thrombosis or occlusion; compromise of side branch patency; occlusion
          of side branches; vasospasm; peripheral ischemia; embolization of air,
          thrombotic, atherosclerotic or catheter material. Hemodynamic events:
          hypotension or hypertension. Neurologic events: stroke, TIA,
          peripheral nerve injury. Bleeding events: access site hemorrhage,
          access site hematoma. Local or systemic infection. Allergic reactions
          to contrast media, antiplatelet agents, anticoagulants, amorphous
          silicon carbide or any other system components (e.g., siloxane-based
          polyurethane, L-605 cobalt chromium alloy including tungsten and
          nickel). Death.
        </p>
        <p class="footer__text">
          For additional information, including precautions, see instructions
          for use at manuals.biotronik.com.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <ul class="list-unstyled footer__list-address">
          <li class="">BIOTRONIK, Inc.</li>
          <li class="">6024 Jean Road</li>
          <li class="">Lake Oswego, OR 97035</li>
          <li class="">
            <a href="https://www.biotronik.com">www.biotronik.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <ul class="list-unstyled footer__list-legal">
          <li class="d-inline-block">
            <a href="https://www.biotronik.com/en-us/privacy-policy"
              >Privacy Policy</a
            >
          </li>
          <li class="d-inline-block">
            <a href="https://www.biotronik.com/en-us/terms-of-use"
              >Terms of Use</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row footer__bottom">
      <div class="col text-center font-weight-bold">
        &copy;2019 BIOTRONIK, Inc. All rights reserved.
      </div>
    </div>
  </div>
</footer>
