<footer class="footer footer__color">
  <div class="container py-2">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled text-left">
          <li class="">BIOTRONIK, Inc.</li>
          <li class="">6024 Jean Road</li>
          <li class="">Lake Oswego, OR 97035</li>
          <li class="">www.biotronik.com</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled text-right">
          <li class="">Privacy Policy</li>
          <li class="">Terms of Use</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mt-4">
        &copy;2018 BIOTRONIK, Inc. All rights reserved.
      </div>
    </div>
  </div>
</footer>