<section class="header">
  <div class="container d-flex flex-row justify-content-between my-1">
    <div class="text-center">
      <a class="navbar-brand " href="/">
        <img src="https://res.cloudinary.com/binc/image/upload/v1537312962/web/bio_logo.svg" width="150" height="auto"
          alt="BIOTRONIK" class="img-fluid">
      </a>
    </div>
  </div>
</section>