<div class="card shadow-sm card__height">
    <div class="card-body">
        <h6 class="card__label">BROCHURE</h6>
        <h5 class="card-title">PK Papyrus Overview</h5>
        <p class="card-text">Product design, benefits, and specifications. Learn about the only 5F compatible<sup>*</sup>
            covered coronary stent with the broadest range of sizes.<sup>4</sup>
        </p>
        <a href="/brochure" class="btn btn-primary btn-sm">VIEW BROCHURE</a>
    </div>
</div>