<div class="card shadow-sm">
    <div class="card-body">
        <h6 class="card__label">CHECKLIST</h6>
        <h5 class="card-title">Product Checklist</h5>
        <p class="card-text">From A to Z: a helpful checklist for hospitals of what is needed to acquire PK Papyrus for
            your institution
        </p>
        <a href="/physician/checklist" class="btn btn-primary btn-sm">VIEW CHECKLIST</a>
    </div>
</div>