<div class="card shadow-sm">
    <div class="card-body">
        <h6 class="card__label">Competitive Comparison</h6>
        <h5 class="card-title">PK Papyrus vs. Graftmaster
        </h5>
        <p class="card-text">Product attribute and feature comparison
        </p>
        <a href="/physician/competitive-comparison/" class="btn btn-primary btn-sm">VIEW
            COMPARISON</a>
    </div>
</div>