<div class="card shadow-sm card__height">
    <div class="card-body">
        <h6 class="card__label">GUIDE</h6>
        <h5 class="card-title">IRB Information Guide
        </h5>
        <p class="card-text">PK Papyrus is a Humanitarian Use Device. Learn about the Institutional Review Board
            process and how to get PK Papyrus at your facility.
        </p>
        <a href="/irb" class="btn btn-primary btn-sm">GET THE GUIDE NOW</a>
    </div>
</div>