<div class="card shadow-sm card__height">
    <div class="card-body">
        <h6 class="card__label">FDA REQUIREMENTS FOR
            HUMANITARIAN USE DEVICE</h6>
        <h5 class="card-title">IRB Information Guide
        </h5>
        <p class="card-text">Guidance document for hospitals completing the IRB process for PK Papyrus
        </p>
        <a href="/physician/irb-information-guide/" class="btn btn-primary btn-sm">VIEW
            APPLICATION</a>
    </div>
</div>