<div class="card shadow-sm card__height">
    <div class="card-body">
        <h6 class="card__label">NEWSROOM</h6>
        <h5 class="card-title">PK Papyrus in the Media</h5>
        <p class="card-text">As the first FDA approved covered coronary stent system since 2001,<sup>4</sup> PK Papyrus
            is earning
            nationwide attention. Find out more about this lifesaving device.
        </p>
        <a href="/newsroom" class="btn btn-primary btn-sm">VISIT NEWSROOM</a>
    </div>
</div>