<div class="card shadow-sm card__height">
    <div class="card-body">
        <h6 class="card__label">VIDEO</h6>
        <h5 class="card-title">When Seconds Count
        </h5>
        <p class="card-text">Animated demonstration of PK Papyrus Covered Coronary Stent treating an acute coronary
            artery perforation.
        </p>
        <a href="/video" class="btn btn-primary btn-sm">WATCH NOW</a>
    </div>
</div>