<div class="card shadow-sm">
    <div class="card-body">
        <h6 class="card__label">VIDEO</h6>
        <h5 class="card-title">Dr. Lombardi on PK Papyrus</h5>
        <p class="card-text">Why PK Papyrus is needed in the interventionalist's tool kit
        </p>
        <a href="/physician/brochure" class="btn btn-primary btn-sm">VIEW VIDEO</a>
    </div>
</div>