.footer__color
	background papyrus
	color #EFF0E3

	padding 2rem 0 0 0

.references li
	font-size .8rem
	font-style italic

.footer__list-legal
	font-size .9rem
	li
		padding 0rem .8rem
	a
		color #EFF0E3
	li+li
		border-left 1px solid #EFF0E3

.footer__list-address
	line-height 1.2rem
	font-size .9rem
	a
		color #EFF0E3

.footer__bottom
	margin 0
	background-color #EFF0E3
	color papyrus
	height 2rem
	padding-top .2rem
	
.footer__text
	font-size .7rem