.hero
	background #fff

.hero__title
	color papyrus
	@media screen and (max-width: 768px)
		font-size 1.4rem

.hero__text
	color #A4B4C3

.hero__text--callout
	color bio-grey-blue
	font-weight bold
	letter-spacing 1.5px



.hero__jumbotron--background
	background white
	margin-bottom 0
	padding 0
	border-radius 0
	
.hero__top
	height auto
	@media screen and (max-width: 768px)
		height auto

.hero__bottom
	background-color rgba(239,239,239,.4)

.container-fluid
	margin 0
	padding 0