.hero
	background #fff

.hero__title
	color papyrus

.hero__text
	color #87898b

.hero__text--callout
	color bio-grey-blue
	font-weight bold
	letter-spacing 1.5px


.hero__jumbotron--background
	background url('https://res.cloudinary.com/binc/image/upload/h_800,f_auto,o_40,a_-90/v1536272485/product/pk-papyrus/BIO27651_PK_Papyrus.jpg')
	@media screen and (max-width: 768px)
		background url('https://res.cloudinary.com/binc/image/upload/h_400,f_auto,o_40,a_-90/v1536272485/product/pk-papyrus/BIO27651_PK_Papyrus.jpg')
		background-repeat no-repeat
		background-position-x 70% 
	background-color #fff
	background-repeat no-repeat
	background-position-x 70% 
	margin-bottom 0
	padding 0
	border-radius 0
	min-height 800px
	
.hero__top
	height 600px
	@media screen and (max-width: 768px)
		height 400px

.hero__bottom
	background-color rgba(239,239,239,.4)

.container-fluid
	margin 0
	padding 0