.hero
	background papyrus

.hero__title
	color papyrus

.hero__text
	color #87898b

.hero__text--callout
	color bio-grey-blue
	font-weight bold
	text-shadow 2px 2px 3px bio-grey

.hero__jumbotron--background
	background url('https://res.cloudinary.com/binc/image/upload/c_fit,f_auto,w_1920,o_40/v1536272485/product/pk-papyrus/BIO27651_PK_Papyrus.jpg')
	background-size contain
	background-color #fff
	background-repeat no-repeat
	background-position: center
	margin-bottom 0
	border-radius 0
	min-height: 500px

	@media (min-width: 768px) {
		background-size: 900px;
	}
